@import './base.css';

#app {
  margin: 0 auto;
  font-weight: normal;
  max-width: 1440px;
}

a,
.green {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.30);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    color: #fff;
  }
}

img {
  mix-blend-mode: luminosity;
}